# Nix
result
result-*

# node
/node_modules/

# shadow-cljs / ClojureScript build artifacts
/public/js/
/public/css/
.shadow-cljs/
/out/
/.cpcache/
target/
.nrepl-port
.clj-kondo/
.lsp/
node_modules

# Environment variables (do not commit secrets!)
.envrc
.env
